.navbar {
    background-color: black;
    
}


.jumbotron {
    text-align: center;
}

.btn-primary { 
    background-color: #00CF00;
    border: none;
 } 

.btn-primary:hover {
    background-color: #009800;
}

.card {
    border-style: solid;
    border-width: 2.5px;
    width: 80%;
}

.container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    justify-content: center;
    align-content: center
}

.bottom {
    width: 80%;
    margin: 50px
}

.fab {
    padding: 10px;
    font-size: 40px;
    color: black;
}

.fab:hover {
    color: blue;
}

.fas {
    padding: 10px;
    font-size: 40px;
    color: black;
}

.fas:hover {
    color: blue;
}

/* #pencil {
    padding: 20px;
    font-size: 20px;
    color: white;
}

#moon {
    padding: 20px;
    font-size: 20px;
    color: white;
}

#theme {
    background-color: black;
    border-color: black;
} */

/* a {
    color: white;
}

a:hover{
    color: gray;
} */