.navbar {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}


.jumbotron {
    text-align: center;
}

.btn-primary { 
    background-color: #00CF00;
    border: none;
 }

.btn-primary:hover {
    background-color: #009800;
}

.card {
    border-style: none;
    border-width: 2.5px;
    border-radius: 20px;
    border-color: black;
    box-shadow: 0 10 2 black;
}

.container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-content: center
}

.col-6 {
    display: flex;
    flex: wrap;
    justify-content: center;
}

.bottom {
    width: 100%;
}

.fab {
    padding: 10px;
    font-size: 40px;
    color: white;
}

.fab:hover {
    color: blue;
}

.fas {
    padding: 10px;
    font-size: 40px;
    color: white;
}

.fas:hover {
    color: blue;
}

#github {
    margin-right: 30px;
}

#envelope {
    margin-left: 30px;
}

h1, h3, h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

h1 {
    font-size: 50px
}

#mywork {
    background-color: white;
}

#line {
    background-color: white;
}

#about {
    color: white;
    background-color: black;
}

@media (max-width: 768px) {
    .card {
        height: 70%;
    }

    .navbar-nav {
        display: none;
    }

    .img-fluid {
        width: 100%;
    }

    h1 {
        font-size: 40px;
    }

    #profile {
        width: 50%;
    }

}

/* #pencil {
    padding: 20px;
    font-size: 20px;
    color: white;
}

#moon {
    padding: 20px;
    font-size: 20px;
    color: white;
}

#theme {
    background-color: black;
    border-color: black;
} */

/* a {
    color: white;
}

a:hover{
    color: gray;
} */